
//footer 
.footer {
  background-color: #242424;
  color: white;
  display: block;
  text-align: center;
  padding: 4rem 0;
  @include tablet {
    text-align: left; 
  }
  .container {
    padding: 0 2%; 
    margin: 0 auto;
    width: 100%;
    @include tablet {
      display: flex; 
      justify-content: space-between;
    }
  }
  a {
    color: #fff;
    text-decoration: none; 
  }
} 

.copyright {
  line-height: 2.3px;
  padding-bottom: 0.5rem;
  font-family: "Playfair Display", Arial, serif;
  p {
    padding-bottom: 0.2rem;
    font-family: "Playfair Display", Arial, serif;
  }
}

.address {
  color: #969696;
  font-family: "Playfair Display", Arial, serif;
}

.contact-info {
  padding-bottom: 0.5rem;
  font-family: "Playfair Display", Arial, serif;
}

.social-icons {
  color: white;
  padding-top: 2rem; 
  font-family: 'Raleway Web', sans-serif;
  list-style: none; 
  text-decoration: none;
  display: flex;
  line-height: 1.5rem; 
  margin: 0 auto;
  width: 12.5rem;
  text-align: center;
  justify-content: space-between;
  padding-left: 0;
  @include tablet {
    margin-top: 0;
    flex-direction: column;
    padding-top: 0;
    text-align: left;
    padding-right: 1rem;
  }
  a {
    display: none; 
    @include tablet {
      flex-direction: column;
      display: inline;
    }
  }
  li {
    font-family: "Raleway", Arial, serif;
    font-weight: 200;
    @include tablet {
      padding-bottom: 1rem;
    }
  }
}