/*navigation bar*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:focus {
  clip: auto !important;
  display: block;
  height: auto;
  left: 5px;
  top: 5px;
  width: auto;
  z-index: 100000; /* above all content */
}

/* #about[tabindex="-1"]:focus {
  outline: 0;
} */


.parent-wrapper {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-logo {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  width: 25%;
}

.aloha-logo {
  height: 40px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation {
  list-style: none;
  text-align: center;
  padding: 0.5rem 0 0.5rem 0;
  border-top: solid 1px #d7d7d7; 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation li {
  display: inline-block;
  padding: 0 20px 0 20px;
}

.navigation li a {
  text-decoration: none;
  color: #e2574c;
  font-family: "Raleway Light", Arial, Helvetica, sans-serif;
}

.navigation li a:hover {
  color: rgb(169, 72, 60);
}

.nav-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  border: 0;
  width: 50%;
}

.cart {
  border: 0;
  min-width: 120px;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
  width: 30%;
}

.shopping-cart {
  width: 50%;
  height: auto;
  cursor: pointer;
}
/* top banner */

.hero-banner {
  background-image: -webkit-gradient(
      linear,
      left top, left bottom,
      from(rgba(0, 0, 0, 0.2)),
      to(rgba(0, 0, 0, 0.2))
    ),
    url(project-01-files/images/banner-girl.png),
    url(project-01-files/images/flower-bkgd.jpg);
  background-image: -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(project-01-files/images/banner-girl.png),
    url(project-01-files/images/flower-bkgd.jpg);
  background-image: -o-linear-gradient(
      top,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(project-01-files/images/banner-girl.png),
    url(project-01-files/images/flower-bkgd.jpg);
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    url(project-01-files/images/banner-girl.png),
    url(project-01-files/images/flower-bkgd.jpg);
  background-position: center, center bottom, 50%;
  background-size: cover, 300px, cover;
  background-repeat: no-repeat;
  padding: 400px 0;
  height: 175px;
  position: relative;
}

.banner-title {
  text-align: center;
  font-size: 2.2rem;
  width: 1240px;
  margin: 0 auto;
  color: white;
  font-family: "Playfair Display", Arial, serif;
  font-weight: 400px;
  position: absolute;
  text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}

.background-info {
  text-align: center;
}

.about p {
  font-size: 1.15rem; 
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 2%;
  font-family: "Playfair Display", serif;
}

.collection {
  font-size: 30px;
  margin-bottom: 1.5rem;
}
.season {
  font-size: 50px;
}

/*about*/
.hand-crafted {
  font-style: italic;
  font-weight: normal;
  font-size: 2rem;
}

.background-info p {
  font-family: 'Raleway Web', sans-serif; 
  font-size: 1.15rem; 
  font-weight: 10px;
}

section h2 {
  text-align: center;
  font-weight: lighter;
}

h2 {
  font-size: 2.4rem; 
  font-style: italic;
  margin-bottom: 1.5rem; 
}

section .heavy {
  font-weight: 700;
  font-style: normal;
  font-family: "Playfair Display", serif;
}
/* Category Boxes */
.category-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

a.shop-section {
  color: white; 
  text-decoration: none; 
  font-size: 2.3rem;
  font-weight: normal;
  text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}
.mens {
  background-image: -webkit-gradient(
    linear,
    left top, left bottom,
    from(rgba(0, 0, 0, 0.2)),
    to(rgba(0, 0, 0, 0.2))
  ), url(project-01-files/images/mens-category.jpg);
  background-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ), url(project-01-files/images/mens-category.jpg);
  background-image: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ), url(project-01-files/images/mens-category.jpg);
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ), url(project-01-files/images/mens-category.jpg);
  background-position: center;
  background-size: cover;
  border: 3px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.trends {
  background-image:
  -webkit-gradient(
      linear,
      left top, left bottom,
      from(rgba(0, 0, 0, 0.2)),
      to(rgba(0, 0, 0, 0.2))
    ), url(project-01-files/images/trends-category.jpg);
  background-image:
  -webkit-linear-gradient(
      top,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url(project-01-files/images/trends-category.jpg);
  background-image:
  -o-linear-gradient(
      top,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url(project-01-files/images/trends-category.jpg);
  background-image:
  linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ), url(project-01-files/images/trends-category.jpg);
  background-position: right;
  background-size: cover;
  border: 3px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.glasses {
  background-image: -webkit-gradient(
    linear,
    left top, left bottom,
    from(rgba(0, 0, 0, 0.2)),
    to(rgba(0, 0, 0, 0.2))
  ), url(project-01-files/images/glasses-category.jpg);
  background-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ), url(project-01-files/images/glasses-category.jpg);
  background-image: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ), url(project-01-files/images/glasses-category.jpg);
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ), url(project-01-files/images/glasses-category.jpg);
  background-position: left;
  background-size: cover;
  border: 3px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sale {
  background-image: url(project-01-files/images/sale-category.jpg);
  background-position: right;
  background-size: cover;
  border: 3px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bags {
  background-image: url(project-01-files/images/bags-category.jpg);
  background-position: left;
  background-size: cover;
  border: 3px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.womens {
  background-image: -webkit-gradient(
    linear,
    left top, left bottom,
    from(rgba(0, 0, 0, 0.2)),
    to(rgba(0, 0, 0, 0.2))
  ), url(project-01-files/images/womens-category.jpg);
  background-image: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ), url(project-01-files/images/womens-category.jpg);
  background-image: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ), url(project-01-files/images/womens-category.jpg);
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  ), url(project-01-files/images/womens-category.jpg);
  background-position: center;
  background-size: cover;
  border: 3px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category-name {
  color: #fff;
  font-family: Raleway Web,sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  left: 50%;
  line-height: 1;
  text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
  text-transform: uppercase;
}

.cat-item {
  width: 50%;
  height: 50vw;
}

.cat-item:first-child {
  width: 100%;
}

.cat-item:last-child {
  width: 100%;
}

/* jquery product carousel */
.product-carousel {
  padding: 4rem 0;
}
.product-carousel h3{
  text-align: center; 
}
.product-carousel container {
  padding: 0;
}
.product-type {
  color: #969696;
  font-size: .5rem;
}

.product-name {
  color: #e2574c; 
}

.product-price {
  color: #969696;
  font-size: 1rem;
}
/* sign up form  */
.form {
  background-image: -webkit-gradient( linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url(project-01-files/images/wave-bkgd.jpg);
  background-image: -webkit-linear-gradient( top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(project-01-files/images/wave-bkgd.jpg);
  background-image: -o-linear-gradient( top, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(project-01-files/images/wave-bkgd.jpg);
  background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(project-01-files/images/wave-bkgd.jpg);
  background-position: center, center bottom;
  background-size: cover, cover;
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 200px;
  margin-bottom: 8px;
  border: none;
  text-align: center; 
}

.form-submit {
  text-align: center; 
}

input[type=email] {
  padding: .5rem 1.75rem; 
  padding-right: 50px;
  width: 400px; 
  height: 50px;
  border-radius: 25px;
}

input[type=submit] {
  background: #e2574c;
  margin-left: -150px;
  height: 40px;
  border-radius: 25px;
  width: 140px;
  color: white;
}

input[type=email] input[type=submit] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; 
  -webkit-box-pack: center; 
      -ms-flex-pack: center; 
          justify-content: center; 
  text-align: center;
  border: 0; 
  border-radius: 25px;
}

.sign-up-for-updates {
  text-align: center;
  font-size: 1.15rem;
  margin: 0 auto;
  color: #fff;
}

.sign-up-for-updates h2 {
  font-size: 2.4rem;
  font-style: italic; 
  margin-bottom: 1.5rem; 
  text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}

.sign-up-for-updates p {
  font-size: 1.15rem; 
  text-shadow: 2px 2px 4px hsla(0,0%,39%,.8);
}
.form p {
  text-align: center; 
}


button:hover {
  background: #A9483C;
}

.footer {
  background-color: #242424;
  color: white;
  display: block;
  text-align: center;
  padding: 4rem 0;
} 

.footer a {
  color: #fff;
}

.copyright {
  line-height: 2.3px;
}

.address {
  color: #969696; 
  line-height: 2.3px;
}

.social-icons {
  color: white;
  margin-top: 2rem; 
  font-family: 'Raleway Web', sans-serif;
  list-style: none; 
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  line-height: 1.5rem; 
  margin-right: 2rem; 
}

.social-media-name {
  display: none; 
  margin-top: 2rem; 
}

#your-email {
  color: #2d2d2d; 
  font-family: Raleway Web, sans-serif; 
  font-size: 1rem; 
}

@media screen and (min-width: 600px) {
  .nav-logo {
    width: 25%;
    text-align: left; 
    max-width: 120px;
  }

  .cart {
    width: 25%;
    text-align: right;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    max-width: 120px;
  }

  .navigation {
    list-style: none;
    text-align: center;
    padding: 1rem 0 1rem 0;
    border-top: 1px solid white; 
    width: 50%;
  }

  .navigation li {
    display: inline-block;
    padding: 0 15px 0 15px;
  }

  .nav-options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }

  .cat-item {
    width: 25%;
    height: 25vw;
  }

  .cat-item:first-child {
    width: 50%;
  }

  .cat-item:last-child {
    width: 50%;
  }

  .footer {
    text-align: left; 
    padding-left: 20px;
  }

  .social-icons {
    text-align: right; 
  }
  .social-media-name {
    display: inline;
    vertical-align: baseline;
  }
}

@media screen and (min-width: 1240px) {
  .header {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; 
  }
  
  .nav-logo {
    max-width: 160px; 
  }

  .cart {
    max-width: 160px; 
  }
  
  .hero-banner {
    background-size: cover, 250px 615px, contain; 
    height: 300px; 
    position: relative; 
  }
  
  .product-carousel .container {
    max-width: 1240px; 
  }
  
  .hero-banner {
    background-size: cover,250px 615px,cover;
    height: 550px;
  }

  .nav-logo {
    width: 25px;
    text-align: left; 
  }

  .cart {
    width: 25px;
    text-align: right;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }

  .navigation {
    list-style: none;
    text-align: center;
    padding: 1rem 0 1rem 0;
    border-top: 1px solid white; 
  }

  .social-icons {
    text-align: right; 
  }

  .social-media-name {
    display: inline;
    vertical-align: baseline;
  }
}